# Log file
*.log

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Minecraft client specific
/journeymap
/eula.txt
/server.properties
/*.json
/knownkeys.txt
/screenshots
/saves
/resourcepacks
/mods
/patchouli_books
/logs
/shaderpacks
/schematics
/forge-1.16.5-36.2.8.jar
/minecraft_server*
/libraries
/crash-reports
/world
/backups
/local
/run.*